$color-black: #000000;
$color-white: #ffffff;
$color-gray: #e4e6eb;
$color-gray-middle: #bec3c9;
$color-gray-darker: #4a4a4a;
$color-blue: #1877f2;
$color-background-hover-icon-bottom: #f2f3f5;
$hover-overlay-icon-top: #dadde1;
$input-color-border: #bec3c9;
$input-color-text: #000000;
$color-text-wall: #303338;
