*, ::before, ::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Segoe UI Historic', sans-serif;
  font-size: 15px;
}

button, img {
  display: block;
  cursor: pointer;
}
